<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chris Poche - Portfolio</title>
    <link rel="icon" type="image/png" href="/wwwroot/favicon.png"/>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122474658-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-122474658-1');
    </script>
    <meta name="theme-color" content="#333" />
</head>
<body style="background-color:#333">
    <div id="container" class="container-fluid">
            <div id="projects" class="hide"> 
                <div id="proj-container">
                        <div id="Caire" class="design-proj project project-thumb Caire"></div>
                        <div id="Eddy" class="design-proj project project-thumb Eddy"></div>
                        <div id="CAD" class="design-proj project project-thumb CAD"></div>
                        <div id="FFH" class="design-proj project project-thumb FFH"></div>
                        <div id="Sphyr" class="design-proj project project-thumb Sphyr"></div>
                        <div id="Notify" class="web-proj project project-thumb Notify"></div>
                        <div id="Epic" class="web-proj project project-thumb Epic"></div>
                        <div id="Portfolio" class="web-proj project project-thumb Portfolio"></div>
                </div>
            </div>
            <div id="web" class="web-off web-edge-shade split">
                <h1 id="title-web" class="title">Web</h1>
            </div>
            <div id="design" class="design-off design-edge-shade drop split">
                <h1 id="title-design" class="title">Design</h1>
            </div>
    </div>

    <div id="help" class="hide-help"></div>
    <div id="site-map" class="site-map">
        <div id="sm-menu" class="sm-menu collapse scroll hide">
            <div id="menu-top"></div>
            <div class="menu-content">
            <div style="display:inline-block; vertical-align:top; margin-right:4vw;">
                <h3 class="sm-header">Get Around Faster</h3>
                <h4><a class="sm-link no-decor" href="/">Home</a></h4>
                <h4><a class="sm-link no-decor" href="/about">About Me</a></h4>
                <h4><a class="sm-link no-decor" href="/contact">Contact</a></h4>
                <h4><a class="sm-link no-decor" href="/portfolio">Portfolio</a></h4>
            </div>
            <div style="display:inline-block; vertical-align:top; margin-right:4vw;">
                <h3 class="sm-header">See what else I've done</h3>
                <h4><a class="sm-link no-decor" href="https://drive.google.com/drive/folders/1jTvmW5Tp8ptJBAQO0XBS3p6FwdVSy8Qn?usp=sharing">My Resume</a></h4>
                <h4><a class="sm-link no-decor" href="https://www.linkedin.com/in/chpoche/">LinkedIn</a></h4>
                <h4><a class="sm-link no-decor" href="https://github.com/ChrisPoche">GitHub</a></h4>
            </div>
            </div>
        </div>
        <div id="sm-svg" class="footer-off" data-toggle="collapse" data-target=".collapse"></div>
    </div>
    <div id="interstitial"></div>
    
    
    <script src="../js/shared.js"></script>
</body>
</html>