<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="icon" type="image/png" href="/wwwroot/favicon.png"/>
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122474658-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-122474658-1');
    </script>
    <meta name="theme-color" content="#333" />
</head>
<body style="background-color: #333;">
    <div id="container" class="container-fluid">
        <div class="about">
            <img class="headshot"  src="../images/headshot.png" alt="A picture of Chris"/>
            <h1 id="about-me" class="About">Hi, I'm Chris</h1>
            <br>
            <h5 id="aboutMeText" class="text">I am an aspiring full stack developer who is a recent graduate of the Coding Dojo coding bootcamp. Prior to my entry in the tech field I studied product design and public relations, with a focus on user experience and design research. My education granted me the ability to understand and bridge the gap between the wild imaginings of the creative world and practicalities of engineering.
                <br>
                I am an ideator, with a strong leadership background, and the diligence to match, who’s always looking at the world around me to find problems that need solving.
                <br>
                I’m looking for a company that wants to break down conventional approaches to many of the world’s problems: to influence and advance products that aim to help underprivileged communities, create solutions for those with physical or mental disabilities, or work to provide green solutions.
                <br>
                If you're looking for someone like me to join your team, you can contact me at <a id="email" class="no-decor" href="mailto:capoche1@gmail.com?subject=I like the cut of your jib">capoche1@gmail.com</a>.</h5>
        </div>
        
        <div id="help" class="hide-help"></div>
        
        <div id="site-map" class="site-map">
            <div id="sm-svg" class="move footer-off"></div>
            <div id="sm-menu" class="move sm-menu sm-off">
                <div id="menu-top"></div>
                <div class="menu-content">
                    <div style="display:inline-block; vertical-align:top; margin-right:4vw;">
                        <h3 class="sm-header">Get Around Faster</h3>
                        <h4><a class="sm-link no-decor" href="/">Home</a></h4>
                        <h4><a class="sm-link no-decor" href="/about">About Me</a></h4>
                        <h4><a class="sm-link no-decor" href="/contact">Contact</a></h4>
                        <h4><a class="sm-link no-decor" href="/portfolio">Portfolio</a></h4>
                    </div>
                    <div style="display:inline-block; vertical-align:top; margin-right:4vw;">
                        <h3 class="sm-header">See what else I've done</h3>
                        <h4><a class="sm-link no-decor" href="https://drive.google.com/drive/folders/1jTvmW5Tp8ptJBAQO0XBS3p6FwdVSy8Qn?usp=sharing">My Resume</a></h4>
                        <h4><a class="sm-link no-decor" href="https://www.linkedin.com/in/chpoche/">LinkedIn</a></h4>
                        <h4><a class="sm-link no-decor" href="https://github.com/ChrisPoche">GitHub</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="interstitial"></div>
        
    </div>
    
    <script src="../js/shared.js"></script>

</body>
</html>