<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
    <link rel="icon" type="image/png" href="/wwwroot/favicon.png"/>
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122474658-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-122474658-1');
    </script>
    <meta name="theme-color" content="#333" />
</head>
<body style="background-color: #333;">
    <div id="container" class="container-fluid bus-card">
            <div class="contact-info">
                <h1 id="contact-me" class="ContactMe c-name">CHRIS &nbsp;&nbsp; POCHE</h1>
                <h3 id="full-stack" class="ContactMe c-pos title-pos">FULL-STACK DEVELOPER</h3>
                <h5 class="ContactMe c-email"><a class="no-decor" href="mailto:capoche1@gmail.com?subject=Want to grab coffee?">capoche1@gmail.com</a></h5>
                <h5 class="ContactMe c-phone"><a class="no-decor" href="tel:1-502-758-3497">502.758.3497</a></h5>
                <h5 class="ContactMe c-city no-decor">Chicago, IL</h5>
            </div>
            
            <div id="help" class="hide-help"></div>
            
            <div id="site-map" class="site-map">
                <div id="sm-menu" class="move sm-menu sm-off">
                    <div id="menu-top"></div>
                    <div class="menu-content">
                        <div class="sm-split-left">
                            <h3 class="sm-header">Get Around Faster</h3>
                            <h4><a class="sm-link no-decor" href="/">Home</a></h4>
                            <h4><a class="sm-link no-decor" href="/about">About Me</a></h4>
                            <h4><a class="sm-link no-decor" href="/contact">Contact</a></h4>
                            <h4><a class="sm-link no-decor" href="/portfolio">Portfolio</a></h4>
                        </div>
                        <div class="sm-split-right">
                            <h3 class="sm-header">See what else I've done</h3>
                            <h4><a class="sm-link no-decor" href="https://drive.google.com/drive/folders/1jTvmW5Tp8ptJBAQO0XBS3p6FwdVSy8Qn?usp=sharing">My Resume</a></h4>
                            <h4><a class="sm-link no-decor" href="https://www.linkedin.com/in/chpoche/">LinkedIn</a></h4>
                            <h4><a class="sm-link no-decor" href="https://github.com/ChrisPoche">GitHub</a></h4>
                        </div>
                    </div>
                </div>
                <div id="sm-svg" class="move footer-off"></div>
            </div>
            <div id="interstitial"></div>
            
        </div>
    
    <script src="../js/shared.js"></script>
</body>
</html>