<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Construction Zone</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body style="overflow: hidden; width: 100vw; height: 100vh; background: repeating-linear-gradient(
    -45deg,#333,#333 4vw, gray 4vw,gray 8vw);">
    <div style="box-shadow: 1vw 1vw rgba(0,0,0,.7); width: 70vw; margin: 10vh auto; background-color: #333; padding: 5vh 5vw 10vh;">
        <h1 style="color: white; text-align: center;">Hey, thanks for stopping by</h1>
        <br>
        <h5 style="color: white; text-align: justify; margin: 0 5vw;">I'm currently in a rebuilding process. If you want to see some of site's other elements you can access the home page <a class="no-decor" href="/">here</a>.</h5>
        <br>
        <h5 style="color: white; text-align: justify; margin: 0 5vw;">After building the initial site with a .NET backend, I realized that the resources that drew wasn't necessary for such a basic application, so here we are.</h5>
        <br>
        <h5 style="color: white; text-align: justify; margin: 0 5vw;">Please be mindful that some of the features and styling may be broken, but I will have it back up to standard in the coming days.</h5>
    </div>
    </body>
</html>